<div class="toggle">
  <h1>Question: </h1>
  <h2><%= @question.text %></h2>
</div>
<hr />
  <% @answers.each do |answer| %>
  <!-- <input type="radio" name="user_answer" value=""> -->
    <button onClick='checkAnswer' name='user_answer'><%= answer %></button>
  <% end %>
<br />
<%= link_to 'Home', root_path %>
<%= link_to 'test', answer_path, remote: true %>


<div id="output">
</div>

<div id="form"></div>

<%= render 'answer_question_form' %>
