<%= button_to 'Log out', destroy_user_session_path, method: :delete %>
<% if @name %>
  <h2>Hi, <%= @name.split(' ')[0] %></h2>
<% else %>
  <h2>Hi, <%= current_user.email.split('@')[0] %></h2>
<% end %>
<h3>Current Score: <%= current_user.score %></h3>
<%= link_to 'Create Questions', new_question_path, remote: true, id: 'show' %>
<%= link_to 'Answer Questions', questions_path %>
<%= link_to 'Scores', scores_path %>

<div id="form"></div>
